In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("c2_file.csv")

In [3]:
df

        a   b  c    d
0  yellow  10  2  3.2
1   green   2  3  8.1
2    blue   7  1  0.4

In [4]:
pd.read_csv("c2_file.csv", header=None)

        0   1  2    3
0       a   b  c    d
1  yellow  10  2  3.2
2   green   2  3  8.1
3    blue   7  1  0.4

In [5]:
pd.read_csv("c2_file.csv", names=["column 1", "column 2", "column 3", "column 4"])

  column 1 column 2 column 3 column 4
0        a        b        c        d
1   yellow       10        2      3.2
2    green        2        3      8.1
3     blue        7        1      0.4

In [6]:
pd.read_csv("c2_file.csv", index_col=0)

         b  c    d
a
yellow  10  2  3.2
green    2  3  8.1
blue     7  1  0.4

In [7]:
df.dtypes

a     object
b      int64
c      int64
d    float64
dtype: object

In [8]:
df

        a   b  c    d
0  yellow  10  2  3.2
1   green   2  3  8.1
2    blue   7  1  0.4

In [9]:
df2 = pd.read_csv("c2_file.csv", dtype={"b": np.float64})
df2.dtypes

a     object
b    float64
c      int64
d    float64
dtype: object

In [10]:
df2

        a     b  c    d
0  yellow  10.0  2  3.2
1   green   2.0  3  8.1
2    blue   7.0  1  0.4

In [11]:
pd.read_csv("c2_file.csv", usecols=["a", "b"])

        a   b
0  yellow  10
1   green   2
2    blue   7

In [12]:
# import pandas as pd
pd.read_excel("c2_data.xls")

       varA      varB      varC
0  0.391723 -0.155122  0.381104
1  0.575125 -0.105817  0.232245
2  0.672305  0.424688 -0.694795
3  0.766115 -0.791350 -0.028739
4  0.677259 -0.817543 -0.537088
5 -0.029702 -0.891848 -0.682719
6 -0.161366 -0.659600 -0.727898
7  0.031672  0.016607 -0.940479
8  0.833212 -0.503236 -0.887210
9  0.907753  0.265177 -0.390762

In [13]:
pd.read_excel("c2_data.xls", sheet_name="Sheet2") # worksheet2

       varD      varE      varF
0  0.907753  0.265177 -0.390762
1  0.755019 -0.768056 -0.528307
2  0.850692 -0.537159 -0.601387
3  0.131663  0.941327  0.240073
4  0.574400  0.091735 -0.395277
5  0.816630  0.875612 -0.880044
6  0.536732  0.175428 -0.473053
7 -0.084641 -0.042827  0.053344
8  0.268271 -0.010628 -0.090952
9  0.166792 -0.872579 -0.556899

In [15]:
# import pandas as pd
pd.read_json("c2_frame.json")

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [17]:
pd.read_json("c2_books.json")

                                               books
0  {'isbn': '9781593275846', 'title': 'Eloquent J...
1  {'isbn': '9781449331818', 'title': 'Learning J...
2  {'isbn': '9781449365035', 'title': 'Speaking J...

In [18]:
import json
from pandas import json_normalize

In [20]:
with open("c2_books.json", "r") as f:
    json_string = f.read()
    dictionary = json.loads(json_string)

In [21]:
json_normalize(dictionary, 'books')

,isbn,title,subtitle,author,published,publisher,pages,description,website
0,9781593275846,"Eloquent JavaScript, Second Edition",A Modern Introduction to Programming,Marijn Haverbeke,2014-12-14T00:00:00.000Z,No Starch Press,472,JavaScript lies at the heart of almost every m...,http://eloquentjavascript.net/
1,9781449331818,Learning JavaScript Design Patterns,A JavaScript and jQuery Developer's Guide,Addy Osmani,2012-07-01T00:00:00.000Z,O'Reilly Media,254,"With Learning JavaScript Design Patterns, you'...",http://www.addyosmani.com/resources/essentialj...
2,9781449365035,Speaking JavaScript,An In-Depth Guide for Programmers,Axel Rauschmayer,2014-02-01T00:00:00.000Z,O'Reilly Media,460,"Like it or not, JavaScript is everywhere these...",http://speakingjs.com/